POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_SSLMODE=
POSTGRES_OPTIMEOUT=

APP_PORT=

SERVER_ADDR=

LOGGER_LEVEL=

PASSWORDHASHER_TIMES=
PASSWORDHASHER_MEMORY=
PASSWORDHASHER_THREADS=
PASSWORDHASHER_KEYLEN=
